/* Angular Material prebuilt theme */
@import url('@angular/material/prebuilt-themes/azure-blue.css');

/* App specific overrides */
html, body { height: 100%; margin: 0; }
body { font-family: Roboto, Arial, sans-serif; }

.container { padding: 16px; max-width: 1600px; margin: 0 auto; }